@import './normalize.css';

html {
  font-family: 'Inter', 'sans-serif';
}

body {
  height: 100vh;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/subset-Inter-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/subset-Inter-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}